.movie-poster {
    float:left;
    margin-right: 50px;
}

.movie-title {
    font-family: 'copperplate', fantasy;
    margin-bottom: 20px; 
}

.movie-genre {
    text-align:inherit;
}

.movie-director {
    text-align:inherit;
    margin-bottom: 50px;
}

.movie-description {
    margin-bottom: 100px;
}

