.director-bio {
    margin-bottom: 20px;
}

.director-name {
    margin-bottom: 20px;
}

.btn {
    display: table-footer-group;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}